@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
}

.gap-8 {
    gap: 8px;
}

.card {
    border: none !important;
    background: #FFFFFF;
    transition: all 400ms linear !important;
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.fc-grey {
    color: #7B7B7B;
}

.pt-24 {
    padding-top: 24px;
}

.pt-12 {
    padding-top: 12px;
}

.icons {
    right: -50% !important;
    position: absolute;
}

.card:hover .icons {
    right: 0% !important;
    transition: all 300ms;
    cursor: pointer;
}

.svg-container {
    bottom: 75%;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #FFff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.card .svg-container:hover,
.card .svg-container-2:hover,
.card .svg-container-3:hover,
.card .svg-container-4:hover {
    background-color: #FF5300;
    box-shadow: 1px 7px 10px 0px #FF530080;
    transition: all 300ms;
    cursor: pointer;
}

.card .svg-container:hover path,
.card .svg-container-2:hover path,
.card .svg-container-3:hover path,
.card .svg-container-4:hover path {
    fill: #FFff;
    transition: all 300ms;
}

.svg-container-2 {
    bottom: 63%;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #FFff;
    margin-top: 5px;
}

.svg-container-3 {
    margin-top: 5px;
    bottom: 51%;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #FFff;
    display: flex;
    margin-top: 4px;
}

.svg-container-4 {
    margin-top: 5px;
    bottom: 39%;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #FFff;
    margin-top: 4px;
}

.fs-sm {
    font-size: 16px !important;
}

.fs-md {
    font-size: 20px !important;
}

.lh-24 {
    line-height: 24.72px;
}